/* icons */

// layer control icons (32x32)

$path: 'src/style/img/'; // relative from project root

.gw2map-layer-control.heropoint_icon {
	background-image: url('#{$path}gw2map-layer-control.heropoint_icon.png');
}

.gw2map-layer-control.task_icon {
	background-image: url('#{$path}gw2map-layer-control.task_icon.png');
}

.gw2map-layer-control.landmark_icon {
	background-image: url('#{$path}gw2map-layer-control.landmark_icon.png');
}

.gw2map-layer-control.vista_icon {
	background-image: url('#{$path}gw2map-layer-control.vista_icon.png');
}

.gw2map-layer-control.waypoint_icon {
	background-image: url('#{$path}gw2map-layer-control.waypoint_icon.png');
}

.gw2map-layer-control.masterypoint_icon, .gw2map-layer-control.mastery_strongbox {
	background-image: url('#{$path}gw2map-masterypoint-icon.unknown.png');
}

.gw2map-layer-control.unlock_icon {
	background-image: url('#{$path}gw2map-layer-control.unlock_icon.png');
}

.gw2map-layer-control.adventure_icon {
	background-image: url('#{$path}gw2map-layer-control.adventure_icon.png');
}

.gw2map-layer-control.jumpingpuzzle_icon {
	background-image: url('#{$path}gw2map-layer-control.jumpingpuzzle_icon.png');
}

.gw2map-layer-control.event_icon {
	background-image: url('#{$path}gw2map-layer-control.event_icon.png');
}

.gw2map-layer-control.lavatubes {
	background-image: url('#{$path}gw2map-marker-lavatubes.png');
}

.gw2map-layer-control.guild_bounty, .gw2map-layer-control.guild_trek {
	background-image: url('#{$path}gw2map-marker-guildbounty.png');
}

.gw2map-layer-control.kite_basket_supplies {
	background-image: url('#{$path}gw2map-marker-kitebasket.png');
}

.gw2map-layer-control.wintersday_orphans {
	background-image: url('#{$path}gw2map-marker-wintersday-orphans.png');
}

/* achievement collection icon */
.gw2map-layer-control.open_skies,
.gw2map-layer-control.skyscale_eggs,
.gw2map-layer-control.skyscale_fever,
.gw2map-layer-control.skyscale_lost,
.gw2map-layer-control.skyscale_flight,
.gw2map-layer-control.skyscale_scales {
	background-image: url('#{$path}gw2map-layer-control.achievement-icon.png');
}

// common (gw2api) map icons
// waypoints, landmarks, tasks, vistas, heropoints, mastery points, events, adventures
// naming scheme: "gw2map-{type}-icon", see GW2GeoJSON.js

// heropoints
.gw2map-heropoint-icon.core {
	background-image: url('#{$path}gw2map-heropoint-icon.core.png');
}

.gw2map-heropoint-icon.core.completed {
	background-image: url('#{$path}gw2map-heropoint-icon.core.completed.png');
}

.gw2map-heropoint-icon.core.infinite {
	background-image: url('#{$path}gw2map-heropoint-icon.core.infinite.png');
}

.gw2map-heropoint-icon.core.infinite.completed {
	background-image: url('#{$path}gw2map-heropoint-icon.core.infinite.completed.png');
}

.gw2map-heropoint-icon.expac {
	background-image: url('#{$path}gw2map-heropoint-icon.expac.png');
}

.gw2map-heropoint-icon.expac.completed {
	background-image: url('#{$path}gw2map-heropoint-icon.expac.completed.png');
}

.gw2map-heropoint-icon.expac.infinite {
	background-image: url('#{$path}gw2map-heropoint-icon.expac.infinite.png');
}

.gw2map-heropoint-icon.expac.infinite.completed {
	background-image: url('#{$path}gw2map-heropoint-icon.expac.infinite.completed.png');
}

// tasks
.gw2map-task-icon {
	background-image: url('#{$path}gw2map-task-icon.png');
}

.gw2map-task-icon.completed {
	background-image: url('#{$path}gw2map-task-icon.completed.png');
}

// landmarks
.gw2map-landmark-icon {
	background-image: url('#{$path}gw2map-landmark-icon.png');
}

.gw2map-landmark-icon.completed {
	background-image: url('#{$path}gw2map-landmark-icon.completed.png');
}

// vistas
.gw2map-vista-icon {
	background-image: url('#{$path}gw2map-vista-icon.png');
}

.gw2map-vista-icon.completed {
	background-image: url('#{$path}gw2map-vista-icon.completed.png');
}

// waypoints
.gw2map-waypoint-icon {
	background-image: url('#{$path}gw2map-waypoint-icon.png');
}

.gw2map-waypoint-icon.completed {
	background-image: url('#{$path}gw2map-waypoint-icon.completed.png');
}

.gw2map-waypoint-icon.completed:hover {
	background-image: url('#{$path}gw2map-waypoint-icon.completed.hover.png');
}

.gw2map-waypoint-icon.contested {
	background-image: url('#{$path}gw2map-waypoint-icon.contested.png');
}

// adventures
.gw2map-adventure-icon {
	background-image: url('#{$path}gw2map-adventure-icon.png');
}

.gw2map-adventure-icon.completed {
	background-image: url('#{$path}gw2map-adventure-icon.completed.png');
}

// mastery points
.gw2map-masterypoint-icon.tyria,
.gw2map-masterypoint-icon.maguuma,
.gw2map-masterypoint-icon.desert,
.gw2map-masterypoint-icon.tundra,
.gw2map-masterypoint-icon.unknown {
	background-image: url('#{$path}gw2map-masterypoint-icon.unknown.png');
}

.gw2map-masterypoint-icon.tyria.completed {
	background-image: url('#{$path}gw2map-masterypoint-icon.tyria.completed.png');
}

.gw2map-masterypoint-icon.maguuma.completed {
	background-image: url('#{$path}gw2map-masterypoint-icon.maguuma.completed.png');
}

.gw2map-masterypoint-icon.desert.completed {
	background-image: url('#{$path}gw2map-masterypoint-icon.desert.completed.png');
}

.gw2map-masterypoint-icon.tundra.completed {
	background-image: url('#{$path}gw2map-masterypoint-icon.tundra.completed.png');
}

// events @todo
div.gw2map-event-icon {
	background-image: url('#{$path}gw2map-event-icon.png');
}

.gw2map-jumpingpuzzle-icon {
	background-image: url('#{$path}gw2map-jumpingpuzzle-icon.png');
}

// custom map icons
// naming scheme: gw2map-marker-{thing}
// determined in src/data/{thing}.json -> className

.gw2map-marker-red {
	background-image: url('#{$path}gw2map-marker-red.png');
}

.gw2map-marker-pink {
	background-image: url('#{$path}gw2map-marker-pink.png');
}

.gw2map-marker-green {
	background-image: url('#{$path}gw2map-marker-green.png');
}

.gw2map-marker-white {
	background-image: url('#{$path}gw2map-marker-white.png');
}

.gw2map-marker-gold {
	background-image: url('#{$path}gw2map-marker-gold.png');
}

.gw2map-marker-lavatubes {
	background-image: url('#{$path}gw2map-marker-lavatubes.png');
}

.gw2map-marker-guildbounty {
	background-image: url('#{$path}gw2map-marker-guildbounty.png');
}

.gw2map-marker-kitebasket {
	background-image: url('#{$path}gw2map-marker-kitebasket.png');
}

.gw2map-marker-wintersday-orphans {
	background-image: url('#{$path}gw2map-marker-wintersday-orphans.png');
}

.gw2map-marker-icon.gw2map-marker-wintersday-orphans {
	border: 1px solid #efe42e;
}

.gw2map-marker-icon.icon-highlight-skyscale-eggs {
	border: 1px solid #ff42bd;
}

.gw2map-marker-icon.icon-highlight-skyscale-scales {
	border: 1px solid #00a797;
}

.gw2map-marker-icon.icon-highlight-skyscale-fever {
	border: 1px solid #9d64d4;
}

.gw2map-marker-icon.icon-highlight-skyscale-lost {
	border: 1px solid #53ca3f;
}

.gw2map-marker-icon.icon-highlight-skyscale-flight {
	border: 1px solid #f85353;
}

.gw2map-marker-icon.icon-highlight-open-skies {
	border: 1px solid #f8a853;
}
