/* leaflet fullscreen control plugin */

.leaflet-control-fullscreen a {
	background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA0AgMAAADpgsAbAAAACVBMVEX///9AQEBAQEBE0SAQAAAAAnRSTlMAgJsrThgAAAAxSURBVHheYyAaaK1gWtWARGswMDDhpgkAQvox7CMbUO4ftpUQ/3CtYmDARUPU0cA/ADpNHr+hM/wCAAAAAElFTkSuQmCC') no-repeat 0 0;
}

.leaflet-touch .leaflet-control-fullscreen a {
	background-position: 2px 2px;
}

.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
	background-position: 2px -24px;
}
